<div class="wrapper">
<form class="edit" action="/snapshot/show?edit=true" method="get">
  		<input type="hidden" name="edit" value="<%if @edit == "false"%>true<%else%>false<%end%>">
  		<input type="submit" value="<%if @edit == "true"%>Done<%else%>Edit<%end%>">
  	</form>
<%if @edit == "true"%>
<%else%>
<section class="weather">
	<img class="icon" src="<%=@icon_url%>" alt=<%=@icon%>/>
	<div class="cur_temp">
		<span class="temp"><%=@temp%></span>
		<span style="color: #101010;">°F</span>
	</div>
	<div id="curFeel">
	<span class="icon_text"><%=@icon%></span>
		<span class="label">Feels Like<span style="color: #fd843b;">&nbsp;&nbsp;<%=@feels_like%></span>
		<span>°F</span></span>
	</div>
</section>
<section class="trending">
	<ol>
	<% @trending_results.each do |trend|%>
		<li class="trend"><a class="trend_text" href=<%=trend["url"]%>><%=trend["name"]%></a></li>
	<%end%>
	</li>
</section>

<section class="twitters">
	<div class="tweet_wrap">
	<ul class="tweet_list">
		<%@statuses.each do |tweet|%>
		<li><span class="username"><%="#{tweet["user_name"]}:"%></span> <%=" #{tweet["text"]}"%></li>
		<%end%>
	</ul>
 </div>

</section>
<%end%>
<section class="instagram">
<h3><%=@concept_name%></h3>
	<ul class="photos">
	<% @instagram_urls.first(12).each_with_index do |url, index| %>
		<li class="instagrams"><img src=<%="#{url}"%>>
		<%if @edit == "true"%>
		<form class="remove" action="/profile/instagram/<%= index %>" method="POST">
  		<input type="hidden" name="_method" value="DELETE">
  		<input type="submit" value="Remove">
		</form><%end%></li>
	<%end%>
	</ul>
</section>
</div>