<h2>Profile Page</h2>
<h3><%=@concept_name%></h3>
<div class="weather">
	<img src="<%=@icon_url%>" alt=<%=@icon%>/>
	<span><%=@icon%></span>
	<div class="cur_temp">
		<span class="temp"><%=@temp%></span>
		<span>°F</span>
	</div>
	<div id="curFeel">
		<span class="label">Feels Like</span>
		<span style="color: #fd843b;"><%=@feels_like%></span>
		<span>°F</span>
	</div>
</div>
<div class="trending">
	<ul>
	<% @query_results.each do |trend| %>
		<li><%=trend["name"]%></li>
	<%end%>
	</ul>
</div>

<div class="instagram">
	<ul class="photos">
	<% @instagram_urls.first(5).each do |url| %>
		<li><img src=<%="#{url}"%>></li>
	<form action="/cheeses/<%= @cheese["id"] %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Cheese">
</form>

	<%end%>
	</ul>
</div>